<style>
    /* custom rug */
  .cr {
    text-align: center;
    margin: 30px 0px;
    overflow:hidden;
    background: #FAF8F5;
      padding: 25px 0px;
  }

  .cr1 h2 {
      font-style: normal;
      font-weight: 900;
      font-size: 22px;
      line-height: 32px;
      color: #525159;
      padding: 20px 0px 30px;
      margin: 0 auto;
  font-family: var(--heading_font)!important;
    text-align:center;
    letter-spacing: 0px!important;
  }

  .cr1 p {
      font-family: var(--body_font);
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 23px;
      color: #3A3844;
      padding: 0px 0px 0px 0px;
      margin: 0 auto;
    text-align:center;

  }

  .cr2 {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 25px;
    align-items:center;
    padding-left:16px;
    gap: 20px;
  }

  .cr3 {
      row-gap: 25px;
      display: flex;
      flex-direction: column;
        flex: 0 0 30%;
  }

  .cr7 {
      flex: 0 0 100%;
  }

  .cr7 img {
      width: 100%;
      height: 100%;
  }

  .cr5 {
      align-items: center;
      text-align: center;
  }

  .cr5 svg {
      width: 40px;
      height: 40px;
      stroke: none;
  }

  .cr5 h5 {
      font-weight: 500;
      font-size: 15px;
      line-height: 16px;
      text-align: center;
      color: #3A3844;
    padding-top:15px;
  }

  .cr button {
      width: 219px;
      height: 48px;
      background: #3A3844;
      border-radius: 4px;
      border: none;
      font-weight: 400;
      font-size: 16px;
      line-height: 15px;
      color: #ffffff;
      margin: 38px auto 0px;
      font-family: var(--body_font);
  }

  .cr4 img {
      height: 450px;
  }

  @media(min-width:768px){
  .cr button {
      margin: 38px auto 50px;
  }

  .cr7{
    display:none;
  }
  .cr4 img {
      height: 100%;
  }

    .cr6 {
      flex: 0 0 55%;
      max-width: 55%;
      background: #FAF8F5;
      padding-inline: 120px 40px;
  }

    .cr4 {
      flex: 0 0 45%;
      max-width: 45%;
  }

    .cr {
      text-align: center;
      margin: 60px 0px!important;
      padding: 0px 0px!important;
      display: flex;
  }
    .cr1 h2 {
      font-weight: 900;
      font-size: 32px;
      line-height: 49px;
      color: #525159;
      padding:60px 0px 20px;
  }

  .cr1 p {
      font-weight: 500;
      font-size: 20px;
      line-height: 33px;
      letter-spacing: 0.06em;
      color: #3A3844;
  }

  .cr2 {
      padding: 0px 0px 0px 0px;

  }

  .cr3 {
      flex-direction: row;
      flex-wrap: wrap;
        row-gap: 0px;
    column-gap: 20px;
    justify-content: center;
    flex:0 0 100%;
  }

  .cr5 {
  flex: 0 0 calc(100%/4 - 20px*3/4);
  max-width: calc(100%/4 - 20px*3/4);
      padding: 50px 0px;
  }

  .cr5 svg {
      width: 50px;
      height: 50px;
  }

  .cr4 img {
      width: 100%;
      height: 100%;
  }

  .cr>a:nth-child(3) {
      display: none;
  }
    .cr1 p:nth-child(2) {
      padding-bottom: 20px;
  }
  }

  @media(max-width:768px){
    .cr1 p:nth-child(2) {
      padding-bottom: 10px;
  }
    .cr3>a:nth-child(5) {
      display: none;
  }

    .cr4{
      display:none;
    }
  }
  /* custom rug */
</style>
<div class="cr paddi">
  <div class="cr6">
    <div class="cr1">
      <h2>Customize your Rug</h2>
      <p>With design and production wholly inhouse, we customise rugs & carpets for you.</p>
      <p>You may choose from 100+ designs and then find the right size that fits your home.</p>
    </div>
    <div class="cr2">
      <div class="cr3">
        <div class="cr5">
          <svg xmlns="http://www.w3.org/2000/svg" width="39" height="38" viewBox="0 0 39 38" fill="none">
            <g clip-path="url(#clip0_578_2382)">
            <path d="M3.21484 36.4848C3.33528 35.658 3.46206 34.8375 3.57616 34.0107C3.71561 33.0058 3.84873 32.0009 3.98184 30.996C4.01354 30.7352 4.11496 30.5126 4.3178 30.3345C4.41288 30.2518 4.49529 30.1564 4.58403 30.0674C12.3618 22.2571 20.1459 14.4532 27.93 6.64291C29.1407 5.42812 30.9092 5.07195 32.4559 5.73341C33.9582 6.37579 34.9597 7.92131 34.9154 9.58131C34.8837 10.7389 34.4019 11.6992 33.5906 12.5133C29.3182 16.7937 25.0458 21.0805 20.7798 25.3672C17.4138 28.7445 14.0226 32.109 10.6883 35.5244C10.0544 36.1731 9.37619 36.4911 8.4951 36.5802C7.03716 36.7265 5.59191 36.9618 4.14665 37.1653C3.62053 37.2353 3.43036 37.1462 3.21484 36.6756C3.21484 36.612 3.21484 36.5484 3.21484 36.4848ZM9.9974 34.4177C10.1178 34.3987 10.1812 34.2905 10.2636 34.2142C17.4709 26.9827 24.6781 19.7512 31.8981 12.5197C32.1136 12.3035 32.1199 12.1763 31.8981 11.96C30.7317 10.8088 29.5844 9.64491 28.4244 8.48736C28.0884 8.15027 28.0884 8.15027 27.7461 8.49372C20.5833 15.6871 13.4204 22.874 6.25115 30.061C6.20044 30.1119 6.14973 30.1691 6.09268 30.22C5.94688 30.3409 5.95322 30.449 6.08634 30.5826C6.41596 30.9006 6.72656 31.2249 7.04984 31.5429C7.37312 31.8673 7.37312 31.8673 7.70274 31.5366C13.4077 25.8124 19.1126 20.0947 24.8113 14.3705C24.8873 14.2942 24.9634 14.2242 25.0331 14.1479C25.1599 13.9953 25.274 14.0207 25.4008 14.1543C25.5973 14.3641 25.8001 14.5613 26.003 14.7585C26.3262 15.0828 26.3262 15.0828 25.9966 15.4136C20.2917 21.1377 14.5867 26.8619 8.8881 32.5796C8.81838 32.6496 8.75499 32.7196 8.68526 32.7832C8.53313 32.9167 8.52679 33.0312 8.67892 33.1775C9.05925 33.5464 9.4269 33.9216 9.8009 34.2969C9.85795 34.3541 9.90866 34.4177 9.9974 34.4177ZM5.14819 31.3013C5.03409 32.1408 4.92633 32.904 4.81857 33.6609C4.72983 34.2905 4.65376 34.9202 4.55868 35.5435C4.52064 35.8042 4.53966 35.9569 4.86928 35.8615C5.06578 35.8042 5.28764 35.8042 5.49683 35.7788C6.59978 35.6262 7.70908 35.4799 8.81204 35.3272C8.88176 35.3145 8.97685 35.3209 9.0022 35.2446C9.0339 35.1619 8.93881 35.1173 8.8881 35.0728C8.50143 34.6849 8.11477 34.2969 7.7281 33.9026C6.88503 33.0503 6.0483 32.2044 5.14819 31.3013ZM33.7047 9.56223C33.7173 7.33617 31.4861 5.92422 29.5654 6.8846C29.3435 6.99908 29.2738 7.08812 29.4893 7.28529C29.7873 7.55242 30.0598 7.85134 30.3387 8.13119C31.2325 9.02797 32.1326 9.9184 33.0137 10.8215C33.2039 11.0123 33.299 11.006 33.4194 10.7579C33.6159 10.37 33.7237 9.95656 33.7047 9.56223Z" fill="#3A3844"/>
            <path d="M8.6552 5.25684C8.78831 5.37132 8.93411 5.47944 9.06088 5.60664C11.8183 8.37331 14.5757 11.14 17.3331 13.9067C17.6247 14.1992 17.6247 14.2056 17.3331 14.4982C16.7689 15.0642 16.1921 15.6303 15.6343 16.209C15.4694 16.3808 15.349 16.3808 15.1969 16.2027C15.0447 16.0309 14.8799 15.8592 14.7024 15.7129C14.4933 15.5349 14.525 15.4013 14.7151 15.2296C14.9623 15.0006 15.1905 14.7462 15.4378 14.5172C15.5709 14.39 15.5962 14.2883 15.4504 14.1547C15.1969 13.913 14.9497 13.6713 14.7151 13.4169C14.5757 13.2706 14.4806 13.2961 14.3475 13.4296C13.9101 13.8749 13.4664 14.3073 13.029 14.7589C12.8895 14.9052 12.7818 14.9243 12.636 14.7653C12.4585 14.5681 12.2683 14.3837 12.0782 14.2056C11.9134 14.0529 11.926 13.9385 12.0782 13.7858C12.5092 13.366 12.9212 12.9272 13.3586 12.5138C13.5488 12.3357 13.5361 12.2149 13.3523 12.0558C13.1875 11.9096 13.029 11.7506 12.8832 11.5852C12.7564 11.4453 12.6487 11.4453 12.5219 11.5852C12.2683 11.8523 11.9958 12.1067 11.7422 12.3739C11.6091 12.5138 11.5013 12.5201 11.3746 12.3739C11.1464 12.1131 10.728 11.9223 10.7026 11.6106C10.6773 11.3053 11.102 11.1145 11.3302 10.8729C11.7422 10.4404 11.7486 10.4467 11.3175 10.0142C10.8738 9.56903 10.8738 9.56903 10.4237 10.0206C10.2462 10.1987 10.0624 10.3768 9.88493 10.5612C9.77083 10.6757 9.67575 10.6757 9.56165 10.5612C9.36515 10.3577 9.16231 10.1542 8.95946 9.957C8.81367 9.82343 8.83903 9.71531 8.97214 9.58811C9.23203 9.34006 9.47291 9.07293 9.7328 8.83125C9.87859 8.69768 9.90395 8.59592 9.74548 8.44328C9.35247 8.06167 8.9658 7.6737 8.58547 7.27937C8.43968 7.12672 8.33826 7.13944 8.19246 7.28573C7.24164 8.23975 6.2718 9.21922 5.29562 10.1796C5.06742 10.4022 5.25124 10.504 5.37802 10.6312C7.91356 13.1752 10.4491 15.7193 12.9783 18.257C13.2825 18.5623 13.2825 18.5623 12.9846 18.8676C12.7818 19.0711 12.5789 19.2683 12.3824 19.4718C12.262 19.6054 12.1542 19.599 12.0401 19.4718C11.9958 19.4273 11.9514 19.3828 11.907 19.3382C9.17498 16.6034 6.44928 13.8621 3.71725 11.1273C3.58413 10.9937 3.44468 10.8601 3.36227 10.6821C3.19112 10.3259 3.32424 10.027 3.57145 9.76619C3.90107 9.42274 4.23703 9.09201 4.57299 8.75492C5.57453 7.75002 6.57606 6.75147 7.57126 5.74657C7.74875 5.56848 7.93891 5.40312 8.14809 5.25684C8.31924 5.25684 8.49039 5.25684 8.6552 5.25684Z" fill="#3A3844"/>
            <path d="M30.2623 37.395C29.9453 37.4077 29.7361 37.236 29.5396 37.0388C27.974 35.4679 26.4083 33.8969 24.8426 32.326C23.4987 30.9776 22.1676 29.6293 20.8111 28.2936C20.5765 28.0583 20.5765 27.9247 20.8237 27.7212C21.0329 27.5495 21.2231 27.346 21.4069 27.1424C21.5527 26.9834 21.6731 26.958 21.8189 27.1361C21.9013 27.2315 21.9964 27.3142 22.0852 27.4096C24.7158 30.049 27.3527 32.6885 29.977 35.3343C30.1925 35.5506 30.3066 35.5506 30.5222 35.3343C31.4413 34.3866 32.3794 33.4581 33.3176 32.5295C33.4951 32.3578 33.4951 32.2496 33.3176 32.0716C30.9025 29.6611 28.5001 27.2442 26.0913 24.8273C25.9138 24.6492 25.7997 24.6429 25.6286 24.8273C25.2229 25.2535 24.7919 25.6605 24.3862 26.093C24.2087 26.2774 24.0882 26.2711 23.9234 26.0866C23.7586 25.8958 23.5748 25.7241 23.391 25.546C23.2579 25.4188 23.2515 25.3107 23.3846 25.1708C24.1897 24.363 24.9947 23.5553 25.7997 22.7476C25.9265 22.6204 26.0216 22.6267 26.142 22.7539C26.2942 22.9193 26.4526 23.0719 26.6111 23.2246C29.4319 26.0485 32.2463 28.8787 35.0671 31.7027C35.4411 32.0779 35.4601 32.4977 35.0861 32.8729C33.6662 34.304 32.24 35.7286 30.8201 37.1597C30.6553 37.306 30.4778 37.4077 30.2623 37.395Z" fill="#3A3844"/>
            <path d="M29.6939 30.0547C30.6131 30.061 31.3484 30.7925 31.3484 31.702C31.3484 32.6369 30.5877 33.3938 29.6622 33.3874C28.7495 33.3811 28.0078 32.6178 28.0078 31.6956C28.0078 30.7797 28.7558 30.0547 29.6939 30.0547ZM29.6686 30.8433C29.1742 30.8497 28.7811 31.244 28.7875 31.7211C28.7938 32.2171 29.1805 32.5988 29.6749 32.5988C30.1694 32.5988 30.537 32.2235 30.537 31.7147C30.537 31.1995 30.182 30.837 29.6686 30.8433Z" fill="#3A3844"/>
            </g>
            <defs>
            <clipPath id="clip0_578_2382">
            <rect width="32.1379" height="32.1379" fill="white" transform="translate(3.21484 5.25879)"/>
            </clipPath>
            </defs>
          </svg>
          <h5>Choose your design</h5>
        </div>
        <div class="cr5">
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
            <g clip-path="url(#clip0_1219_2473)">
            <path d="M26.114 10.0586H4.34464C3.49716 10.0586 2.80859 10.7447 2.80859 11.5891V33.8915C2.80859 34.736 3.49716 35.4221 4.34464 35.4221H26.114C26.9615 35.4221 27.6501 34.736 27.6501 33.8915V11.5891C27.6501 10.7447 26.9615 10.0586 26.114 10.0586ZM26.5907 34.3665H3.86793V11.1141H26.5832V34.3665H26.5907Z" fill="#3A3844"/>
            <path d="M37.0557 34.1026L35.0051 36.1534V9.10856L37.1011 11.197C37.3054 11.4006 37.6459 11.4006 37.8502 11.197C38.0545 10.9935 38.0545 10.6542 37.8502 10.4506L34.8462 7.45737C34.6419 7.25379 34.3014 7.25379 34.0971 7.45737L31.0932 10.4506C30.8889 10.6542 30.8889 10.9935 31.0932 11.197C31.2975 11.4006 31.638 11.4006 31.8423 11.197L33.9382 9.10856V36.2363L31.7969 34.1026C31.5926 33.899 31.2521 33.899 31.0478 34.1026C30.8435 34.3062 30.8435 34.6455 31.0478 34.849L34.0517 37.8423C34.256 38.0459 34.5965 38.0459 34.8008 37.8423L37.8048 34.849C38.0091 34.6455 38.0091 34.3062 37.8048 34.1026C37.5929 33.899 37.26 33.899 37.0557 34.1026Z" fill="#3A3844"/>
            <path d="M31.2299 3.19703L28.2259 0.203776C28.0216 0.000204626 27.6811 0.000204626 27.4768 0.203776C27.2725 0.407348 27.2725 0.746633 27.4768 0.950205L29.5274 3.001H1.81815L3.91412 0.904967C4.11842 0.701395 4.11842 0.36211 3.91412 0.158538C3.70982 -0.0450335 3.36932 -0.0450335 3.16502 0.158538L0.161038 3.15179C-0.0432627 3.35536 -0.0432627 3.69465 0.161038 3.89822L3.16502 6.89148C3.36932 7.09505 3.70982 7.09505 3.91412 6.89148C4.11842 6.68791 4.11842 6.34862 3.91412 6.14505L1.81815 4.05656H29.6182L27.4693 6.19029C27.265 6.39386 27.265 6.73314 27.4693 6.93672C27.6736 7.14029 28.0141 7.14029 28.2184 6.93672L31.2224 3.94346C31.4342 3.73989 31.4342 3.4006 31.2299 3.19703Z" fill="#3A3844"/>
            </g>
            <defs>
            <clipPath id="clip0_1219_2473">
            <rect width="38" height="38" fill="white"/>
            </clipPath>
            </defs>
          </svg>
          <h5>Enter Custom Size</h5>
        </div>
        <div class="cr5">
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 38 38" fill="none">
            <g clip-path="url(#clip0_1219_2499)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M33.3106 25.74H19.9957C19.6878 30.233 15.9329 33.7782 11.337 33.7782C6.53069 33.7782 2.64062 29.9121 2.64062 25.1355C2.64062 20.5752 6.20026 16.8435 10.7136 16.5225V5.73775C10.7136 4.90184 11.397 4.22266 12.2381 4.22266H30.8399C31.681 4.22266 32.3643 4.90184 32.3643 5.73775V7.29763H33.3106C34.1517 7.29763 34.8351 7.97681 34.8351 8.81272V24.2249C34.8351 25.0608 34.1517 25.74 33.3106 25.74ZM3.90227 25.1355C3.90227 29.218 7.2291 32.5243 11.337 32.5243C15.4448 32.5243 18.7716 29.218 18.7716 25.1355C18.7716 21.0529 15.4448 17.7466 11.337 17.7466C7.2291 17.7466 3.90227 21.0529 3.90227 25.1355ZM31.1177 6.13332C31.1177 5.76014 30.8098 5.45414 30.4343 5.45414H12.6286C12.2531 5.45414 11.9452 5.76014 11.9452 6.13332V6.70801C11.9452 7.09611 12.2907 7.29763 12.7638 7.29763H31.1177V6.13332ZM33.596 9.20829C33.596 8.83511 33.2881 8.52911 32.9126 8.52911H12.6286H12.6211H11.9603V9.11126C11.9528 9.14112 11.9528 9.17097 11.9528 9.20829V16.53C16.2559 16.8285 19.6878 20.2394 20.0032 24.5085H32.9201C33.2956 24.5085 33.6035 24.2025 33.6035 23.8293L33.596 9.20829ZM31.1252 17.7316C30.4418 17.7316 29.8936 17.1868 29.8936 16.5151C29.8936 15.8434 30.4418 15.2985 31.1252 15.2985C31.8086 15.2985 32.3568 15.8434 32.3568 16.5151C32.3568 17.1868 31.8011 17.7316 31.1252 17.7316ZM10.203 29.0986C10.1654 29.1359 10.1054 29.1359 10.0603 29.0986L9.32433 28.3672C9.31682 28.3597 9.32433 28.3597 9.31682 28.3522L6.33544 25.3892C6.29789 25.3519 6.29789 25.2922 6.33544 25.2474L7.0714 24.5234C7.10895 24.4861 7.16902 24.4861 7.21408 24.5234L10.1354 27.4268L15.5274 22.0679C15.565 22.0306 15.625 22.0306 15.6701 22.0679L16.4061 22.7994C16.4436 22.8367 16.4436 22.8964 16.4061 22.9412L10.203 29.0986Z" fill="#3A3844"/>
            </g>
            <defs>
            <clipPath id="clip0_1219_2499">
            <rect width="32.1944" height="29.5556" fill="white" transform="translate(2.64062 4.22266)"/>
            </clipPath>
            </defs>
          </svg>
          <h5>Place Order</h5>
        </div>
        <div class="cr5">
          <svg xmlns="http://www.w3.org/2000/svg" width="38" height="39" viewBox="0 0 38 39" fill="none">
            <g clip-path="url(#clip0_1219_2503)">
            <path d="M19.3624 33.9854C18.8608 33.7608 18.3592 33.5362 17.8576 33.3115C16.6524 32.7763 15.4472 32.2346 14.2421 31.6994C12.7893 31.0519 11.3366 30.4044 9.89043 29.7503C8.62663 29.1887 7.36934 28.6205 6.11206 28.0655C5.4997 27.7946 4.90037 27.4841 4.2815 27.2463C4.26847 27.2397 4.26196 27.2397 4.25544 27.2331C4.3727 27.4445 4.48996 27.6493 4.60722 27.8607V26.1759V22.139V17.2697V13.061C4.60722 12.3805 4.63328 11.6867 4.60722 11.0062V10.9798C4.24893 11.1912 3.89063 11.396 3.53234 11.6074C4.03395 11.8321 4.53556 12.0567 5.03717 12.2814C6.24234 12.8165 7.44751 13.3583 8.65268 13.8935C10.1054 14.541 11.5581 15.1885 13.0043 15.8425C14.2681 16.4041 15.5254 16.9723 16.7827 17.5273C17.3951 17.7982 17.9944 18.1088 18.6133 18.3466C18.6263 18.3532 18.6328 18.3532 18.6393 18.3598C18.5221 18.1484 18.4048 17.9436 18.2875 17.7322V19.4169V23.4538V28.3232V32.5319C18.2875 33.219 18.268 33.9061 18.2875 34.5867V34.6131C18.2875 34.9897 18.6133 35.3531 18.9976 35.3333C19.382 35.3134 19.7077 35.0161 19.7077 34.6131V32.9283V28.8914V24.0154V19.8068C19.7077 19.1196 19.7272 18.4325 19.7077 17.752V17.7255C19.7077 17.4943 19.5774 17.2036 19.3559 17.0979C18.8543 16.8732 18.3527 16.6486 17.8511 16.424C16.6459 15.8888 15.4407 15.347 14.2356 14.8119C12.7828 14.1644 11.3301 13.5169 9.88391 12.8628C8.62011 12.3012 7.36283 11.733 6.10554 11.178C5.49318 10.9005 4.88083 10.6296 4.27499 10.3587C4.26847 10.3521 4.25544 10.3521 4.24893 10.3455C4.00789 10.2398 3.76686 10.2068 3.53234 10.3455C3.31736 10.4776 3.18056 10.7155 3.18056 10.9732V12.6514V16.6882V21.5576V25.7663C3.18056 26.4534 3.16102 27.1406 3.18056 27.8211V27.8475C3.18056 28.0788 3.31085 28.3695 3.53234 28.4752C4.03395 28.6998 4.53556 28.9245 5.03717 29.1491C6.24234 29.6843 7.44751 30.226 8.65268 30.7612C10.1054 31.4087 11.5581 32.0562 13.0043 32.7103C14.2681 33.2719 15.5254 33.8401 16.7827 34.3951C17.3951 34.6726 18.0074 34.9434 18.6133 35.2143C18.6198 35.2209 18.6328 35.2209 18.6393 35.2275C18.9781 35.3795 19.421 35.3399 19.6165 34.9699C19.7793 34.6593 19.7207 34.144 19.3624 33.9854Z" fill="#3A3844"/>
            <path d="M33.7526 27.2262C33.251 27.4509 32.7494 27.6755 32.2478 27.9001C31.0426 28.4353 29.8374 28.9771 28.6322 29.5122C27.1795 30.1597 25.7268 30.8072 24.2806 31.4613C23.0168 32.0229 21.7595 32.5911 20.5022 33.1461C19.8899 33.417 19.271 33.6681 18.6717 33.9654C18.6652 33.972 18.6521 33.972 18.6456 33.9786C19.0039 34.19 19.3622 34.3948 19.7205 34.6063V32.9215V28.8846V24.0152V19.8065C19.7205 19.126 19.7466 18.4323 19.7205 17.7517V17.7253C19.6032 17.9367 19.486 18.1416 19.3687 18.353C19.8703 18.1283 20.3719 17.9037 20.8736 17.6791C22.0787 17.1439 23.2839 16.6021 24.4891 16.067C25.9418 15.4195 27.3945 14.772 28.8407 14.1179C30.1045 13.5563 31.3618 12.9881 32.6191 12.4331C33.2314 12.1622 33.8503 11.9111 34.4496 11.6138C34.4562 11.6072 34.4692 11.6072 34.4757 11.6006C34.1174 11.3892 33.7591 11.1844 33.4008 10.9729V12.6511V16.688V21.5574V25.7661C33.4008 26.4532 33.3813 27.1403 33.4008 27.8208V27.8473C33.4008 28.2239 33.7265 28.5873 34.1109 28.5674C34.4952 28.5476 34.821 28.2503 34.821 27.8473V26.1625V22.1256V17.2562V13.0475C34.821 12.3604 34.8405 11.6733 34.821 10.9928V10.9663C34.821 10.7087 34.6842 10.4708 34.4692 10.3387C34.2281 10.1999 33.9936 10.233 33.7526 10.3387C33.251 10.5633 32.7494 10.7879 32.2478 11.0126C31.0426 11.5478 29.8374 12.0895 28.6322 12.6247C27.1795 13.2722 25.7268 13.9197 24.2806 14.5738C23.0168 15.1354 21.7595 15.7036 20.5022 16.2586C19.8899 16.5294 19.2645 16.7739 18.6717 17.0778C18.6652 17.0844 18.6521 17.0844 18.6456 17.091C18.4241 17.1902 18.2938 17.4809 18.2938 17.7187V19.4035V23.4404V28.3098V32.5184C18.2938 33.2056 18.2743 33.8927 18.2938 34.5732V34.5997C18.2938 34.8573 18.4306 35.0952 18.6456 35.2273C18.8867 35.3661 19.1212 35.333 19.3622 35.2273C19.8638 35.0027 20.3654 34.778 20.867 34.5534C22.0722 34.0182 23.2774 33.4765 24.4826 32.9413C25.9353 32.2938 27.388 31.6463 28.8342 30.9922C30.098 30.4306 31.3553 29.8624 32.6126 29.3074C33.2249 29.0365 33.8503 28.7921 34.4431 28.4882C34.4496 28.4816 34.4627 28.4816 34.4692 28.4749C34.8079 28.323 34.9187 27.7878 34.7232 27.4839C34.5018 27.1271 34.1174 27.0676 33.7526 27.2262Z" fill="#3A3844"/>
            <path d="M33.752 10.3453C33.2504 10.57 32.7488 10.7946 32.2472 11.0193C31.042 11.5544 29.8369 12.0962 28.6317 12.6314C27.179 13.2789 25.7263 13.9263 24.2801 14.5804C23.0163 15.142 21.759 15.7102 20.5017 16.2652C19.8893 16.5361 19.2705 16.7938 18.6711 17.0845C18.6646 17.0911 18.6516 17.0911 18.6451 17.0977H19.3617C18.86 16.8731 18.3584 16.6484 17.8568 16.4238C16.6516 15.8886 15.4465 15.3469 14.2413 14.8117C12.7886 14.1642 11.3359 13.5167 9.88967 12.8626C8.62586 12.301 7.36858 11.7328 6.11129 11.1778C5.49242 10.9069 4.89309 10.603 4.27422 10.3519C4.26119 10.3453 4.25468 10.3453 4.24817 10.3387L4.07879 11.6601C4.5804 11.4553 5.08201 11.2571 5.58362 11.0589C6.78228 10.5832 7.98745 10.1009 9.18611 9.61857C10.6388 9.03715 12.0915 8.45573 13.5443 7.87431C14.8081 7.36557 16.0653 6.86344 17.3291 6.36131C17.7396 6.19613 18.1565 6.03096 18.5669 5.86578C18.7623 5.7865 18.9708 5.72043 19.1597 5.62793C19.1662 5.62132 19.1792 5.62132 19.1858 5.61471H18.8079C19.3095 5.81953 19.8111 6.01774 20.3128 6.21595C21.5114 6.69826 22.7166 7.17397 23.9152 7.66289C25.368 8.24431 26.8207 8.82573 28.2734 9.40714C29.5372 9.91588 30.7945 10.418 32.0583 10.9202C32.6706 11.1646 33.27 11.4421 33.8888 11.6535C33.8954 11.6601 33.9084 11.6601 33.9149 11.6667C34.2667 11.8055 34.7097 11.5148 34.7943 11.158C34.8855 10.7418 34.6706 10.418 34.2927 10.2661C33.7911 10.0612 33.2895 9.86303 32.7879 9.66482C31.5827 9.1825 30.371 8.69358 29.1659 8.21788C27.7066 7.62985 26.2474 7.04844 24.7882 6.46702C23.5309 5.96489 22.2736 5.45614 21.0163 4.95401C20.417 4.70955 19.8177 4.43866 19.2053 4.22724C18.9578 4.14135 18.7884 4.22063 18.5734 4.31313C18.2607 4.43866 17.948 4.5642 17.6353 4.68973C16.5018 5.14561 15.3618 5.6015 14.2218 6.05738C12.769 6.6388 11.3163 7.22022 9.87012 7.80164C8.56072 8.32359 7.25132 8.85215 5.94192 9.37411C5.22533 9.65821 4.50874 9.94892 3.79867 10.233C3.7661 10.2462 3.73353 10.2594 3.70095 10.2727C3.42735 10.3784 3.23191 10.5634 3.19283 10.8739C3.16026 11.1316 3.27752 11.4817 3.53158 11.5941C4.0397 11.8187 4.54132 12.0433 5.04293 12.268C6.25461 12.8098 7.4663 13.3515 8.67798 13.8933C10.1372 14.5408 11.5899 15.1949 13.0492 15.849C14.2999 16.4106 15.5572 16.9722 16.8145 17.5338C17.4138 17.7981 18.0197 18.0756 18.619 18.3398C18.8926 18.4588 19.1076 18.4588 19.3812 18.3398C19.4463 18.3134 19.5115 18.2804 19.5766 18.2539C19.8893 18.1152 20.202 17.9764 20.5147 17.8377C21.6482 17.329 22.7882 16.8202 23.9283 16.3115C25.381 15.664 26.8272 15.0165 28.2799 14.369C29.5958 13.781 30.9117 13.193 32.2211 12.6049C32.9377 12.2812 33.6543 11.9641 34.3774 11.6469C34.41 11.6337 34.4426 11.6205 34.4751 11.6007C34.8139 11.4487 34.9246 10.9135 34.7292 10.6096C34.5012 10.2462 34.1168 10.1802 33.752 10.3453Z" fill="#3A3844"/>
            <path d="M26.2031 14.1511V18.2805V18.8619C26.2031 19.2385 26.5288 19.6019 26.9132 19.5821C27.2975 19.5623 27.6233 19.265 27.6233 18.8619V14.7325V14.1511C27.6233 13.7745 27.2975 13.4111 26.9132 13.431C26.5354 13.4442 26.2031 13.7415 26.2031 14.1511Z" fill="#3A3844"/>
            <path d="M11.6158 8.53505C12.1175 8.74648 12.6191 8.95129 13.1207 9.16272C14.3259 9.66485 15.5245 10.167 16.7297 10.6691C18.1889 11.277 19.6416 11.8848 21.0943 12.4927C22.3516 13.0146 23.6089 13.5432 24.8727 14.0651C25.4851 14.3162 26.0844 14.6069 26.7098 14.8315C26.7163 14.8381 26.7293 14.8381 26.7358 14.8448C27.0811 14.9901 27.5306 14.6862 27.6153 14.336C27.713 13.9198 27.485 13.6026 27.1137 13.4441C26.6121 13.2326 26.1105 13.0278 25.6089 12.8164C24.4037 12.3143 23.205 11.8121 21.9999 11.31C20.5406 10.7022 19.0879 10.0943 17.6352 9.48646C16.3779 8.96451 15.1206 8.43595 13.8568 7.91399C13.2445 7.66292 12.6451 7.37221 12.0197 7.14758C12.0132 7.14097 12.0002 7.14097 11.9937 7.13436C11.6484 6.98901 11.1989 7.29293 11.1142 7.6431C11.023 8.07256 11.2445 8.38309 11.6158 8.53505Z" fill="#3A3844"/>
            </g>
            <defs>
            <clipPath id="clip0_1219_2503">
            <rect width="31.6667" height="31.1389" fill="white" transform="translate(3.16797 4.19434)"/>
            </clipPath>
            </defs>
          </svg>
          <h5>Express Dispatch</h5>
        </div>
        <a href="/collections/customisation"><button>CUSTOMIZE NOW</button></a>
      </div>
      <div class="cr7">
        {% assign mob_image = section.settings['m-image'] %}
        <div
          class="m-image"
          style="position:relative;padding-bottom:{{ 100 | divided_by : mob_image.aspect_ratio }}%"
        >
          <img
            loading="lazy"
            style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)"
            srcset="
              {%- if mob_image.width >= 375 -%}{{ mob_image | image_url: width: 375 }} 350w,{%- endif -%}
              {%- if mob_image.width >= 750 -%}{{ mob_image | image_url: width: 375 }} 450w,{%- endif -%}
              {%- if mob_image.width >= 1100 -%}{{ mob_image | image_url: width: 400 }} 470w,{%- endif -%}
              {%- if mob_image.width >= 1500 -%}{{ mob_image | image_url: width: 425 }} 490w,{%- endif -%}
              {%- if mob_image.width >= 1780 -%}{{ mob_image | image_url: width: 450 }} 500w,{%- endif -%}
              {%- if mob_image.width >= 2000 -%}{{ mob_image | image_url: width: 500}} 500w,{%- endif -%}
              {%- if mob_image.width >= 3000 -%}{{ mob_image | image_url: width: 500 }} 500w,{%- endif -%}
              {%- if mob_image.width >= 3840 -%}{{ mob_image | image_url: width: 500 }} 500w,{%- endif -%}
              {{ mob_image | image_url }} {{ mob_image.width }}w
            "
            src="{{ mob_image | image_url: width: 400 }}"
            loading="lazy"
            alt="{{ mob_image.alt | escape }}"
            width="{{ mob_image.width }}"
            height="auto"
          >
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}" style="position:absolute;top:0px;left:0px;width:100%;height:100%;"></a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="cr4">
    {% assign desk_image = section.settings['d-image'] %}

    <div
      class="d-image"
      style="position:relative;padding-bottom:{{ 100 | divided_by : desk_image.aspect_ratio }}%"
    >
      <img
        style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)"
        srcset="
          {%- if desk_image.width >= 375 -%}{{ desk_image | image_url: width: 375 }} 350w,{%- endif -%}
          {%- if desk_image.width >= 750 -%}{{ desk_image | image_url: width: 375 }} 450w,{%- endif -%}
          {%- if desk_image.width >= 1100 -%}{{ desk_image | image_url: width: 400 }} 470w,{%- endif -%}
          {%- if desk_image.width >= 1500 -%}{{ desk_image | image_url: width: 425 }} 490w,{%- endif -%}
          {%- if desk_image.width >= 1780 -%}{{ desk_image | image_url: width: 450 }} 500w,{%- endif -%}
          {%- if desk_image.width >= 2000 -%}{{ desk_image | image_url: width: 500}} 500w,{%- endif -%}
          {%- if desk_image.width >= 3000 -%}{{ desk_image | image_url: width: 500 }} 500w,{%- endif -%}
          {%- if desk_image.width >= 3840 -%}{{ desk_image | image_url: width: 500 }} 500w,{%- endif -%}
          {{ desk_image | image_url }} {{ desk_image.width }}w
        "
        src="{{ desk_image | image_url: width: 400 }}"
        loading="lazy"
        alt="{{ desk_image.alt | escape }}"
        width="{{ desk_image.width }}"
        height="auto"
      >
      {% if block.settings.link != blank %}
        <a href="{{ block.settings.link }}" style="position:absolute;top:0px;left:0px;width:100%;height:100%;"></a>
      {% endif %}
    </div>
  </div>
  <a href="/collections/customisation"><button>CUSTOMIZE NOW</button></a>
</div>
{% schema %}
  {
    "name": "Custom Rug",
    "settings": [
              {
          "type":"image_picker",
          "label":"Product image",
          "id":"d-image"
        },
        {
          "type":"image_picker",
          "label":"Product mobile image",
          "id":"m-image"
        }
    ],
    "presets": [
{
"name": "Custom Rug",
"category": "ADVANCED LAYOUT"
}
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
