<style>
  @media(min-width:764px)
  {
      .slick-list.draggable {
    height: 513.678px!important;
}
    
  }
  .product-page .product-options>div {
    margin-bottom: 5px;
}
 
  .product-page.mt-30.pb-30 {
    margin-top: 0px!important;
}
.product-page, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0px 0px!important;
    margin: 0px auto!important;
}
  .desc_heading {
    display: flex;
    justify-content: flex-start!important;
    gap: 20px;
}
  .desc_block.desc_wrap.visible,
  .desc_block.about_wrap.visible {
    margin-top: 30px;
    border-top: 2px solid #DCDCDC!important;
    border-bottom: 2px solid #DCDCDC!important;
   
}
  .desc_heading, .product-description .desc_block {
    border-bottom: solid 0px #f6f6f6!important;
}
  .desc_heading button.active {
    color: #2C2C2C!important;
}
.desc_heading button {
    color: #929292!important;
}
  .price-wrap {
    width: 60%!important;
}
  .flash-sale-section-wrap .section-head {
    padding-top: 0%!important;
}
 
  .flash-sale-section-wrap .card {
    background: #fff;
     padding: 0%!important;
}
  .card-info.card-layout- {
    padding: 5px!important;
}
  /* .product-page.mt-30.pb-30 .container {
    padding: 0!important;
} */
  span.title_box h1 {
    margin:0px!important;
   
    
}
   span.title_box span {
    padding: 0 0 15px 0px!important;
}
 
  .product-page-info__price.text-center.text-md-left.mb-25.new {
    display: flex!important;
    margin-bottom:10px;
}
  .product-page-info__price.text-center.text-md-left.mb-25 {
    display: none!important;
}
  
  .p_price {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;
}
  p.product-page-info__price-sale-details.mt-5.mt-md-10.text-center.text-md-left {
    background: #F9CE39!important;
    border-radius: 50px!important;
    padding: 10px!important;
    color: black!important;
}
  .product-page .product-page-info__price.text-center.text-md-left.mb-25 span.prs {
    font-size: 25px!important;
}
  .product-page-info__price.new.text-center.text-md-left.mb-25 {
    margin-top: 0!important;
    margin-bottom: 1%!important;
}
  .product-page .product-page-info__field.product-page-info__quantity label {
    margin-bottom: 0px!important;
        color: black;
}
  .product-page-info__field.product-page-info__quantity {
    display: flex;
    align-items: center;
}
  .product-page .input-quantity.input-quantity--type-04.d-flex.align-items-center.position-relative.mr-10.js-product-quantity input {
    border: 1px solid #000000;
    border-radius: 50px;
    color: #3B3A3D;
}
  .all_tax {
    color:#929292;
    margin-bottom: 4%;
    font-size: 12px;
}
  p.taxes {
    display: none!important;
}
  .product-page-info__field.product-page-info__quantity {
    margin-bottom: 4%;
}
  button.shopify-payment-button__button.shopify-payment-button__button--unbranded.BUz42FHpSPncCPJ4Pr_f.jjzYeefyWpPZLH9pIgyw.RWJ0IfBjxIhflh4AIrUw {
    border-radius: 50px!important;
}
  .product-page-info__button-add-to-cart.mb-10 button {
    border-radius: 50px!important;
}
  span.price.price--sale>span:nth-child(2) {
    font-weight: 700!important;
}
  .sticky_buttons .mt-20.mb-15 button.shopify-payment-button__button.shopify-payment-button__button--unbranded.BUz42FHpSPncCPJ4Pr_f.jjzYeefyWpPZLH9pIgyw.RWJ0IfBjxIhflh4AIrUw {
    border-radius: 50px!Important;
}
.pi {
    padding: 15px 0 0 0!important;
}
  .pi svg {
    display: none;
}
 
  .pi p:nth-child(3) {
    border-right: 0px;!important
}
  .pi .pi2:nth-child(4) p {
    border: 0px;
}
  .product-page-info__price.new.text-center.text-md-left.mb-25 {
    margin-top: 0!important;
    margin-bottom: 1%!important;
}
.product-page-info__price.text-center.text-md-left.mb-25.new {
    display: flex!important;
    margin-bottom: 10px;
}
  main#MainContent {
    background: #FFF;
}
  .product-page-info form>.product-page-info__price.text-center.text-md-left.mb-25:nth-child(5) {
    display: flex!Important;
  align-items: flex-end;
}
  .product-page .product-options #option-Color label span {
    color:  #2C2C2C;
}
  .product-page .product-options.product-options--type-page.js-product-options #option-Size label>span:nth-child(1) {
    color: #2C2C2C;
}
  .product-page .product-options #option-Color label>span:nth-child(2) {
    font-weight: 100!important;
    font-size: 15px;
}
  .product-page .product-options.product-options--type-page.js-product-options #option-Size label>span:nth-child(2) {
    font-size: 15px;
    font-weight: 100!important;
}
div#option-Color {
    margin-bottom: 20px;
}
  .d-none.d-md-flex.justify-content-end.align-items-center.w-100.mt-20.overflow-hidden {
    display: none!important;
}
  input.mb-0.px-35.text-center {
    background: #fff!important;
}
  button.btn.btn--full.btn--status.js-product-button-add-to-cart {
    background: #fff!important;
}
  
  .flash-sale-section-wrap .card {
    background: #fffdf8!important;
    padding: 7%;
}
  .product-page .product-page-info__price.text-center.text-md-left.mb-25 span.price.price--sale .cmp {
    padding-left: 0px;
    font-size: 15px!important;
}
  .product-page button.btn.btn--full.btn--status.js-product-button-add-to-cart span span {
    text-transform: capitalize!important;
}
  .shopify-payment-button button {
    text-transform: capitalize!important;
}
  .pi2 p {
    border-right: 1px solid #929292;
}
  .product-page .product-page-info__price.text-center.text-md-left.mb-25 p.product-page-info__price-sale-details.mt-5.mt-md-10.text-center.text-md-left {
    font-size: 14px!important;
 
}
  .product-gallery__main .product-gallery__blockratio {
  padding-top: 100% !important;
}
  .product-page button.btn.btn--full.btn--status.js-product-button-add-to-cart {
    border: 1px solid #2E2E2E!important;
   
}
  .product-page .input-quantity.input-quantity--type-04.d-flex.align-items-center.position-relative.mr-10.js-product-quantity input {
    border: 1px solid #000000;
  
}
 
  .product-page .pa {
    margin-top: 30px;
}
 .px-1 {
    display: flex!important;
    justify-content: center;
    padding: 10px;
}
 
 
  .product-gallery__thumbnail_slider.h-100.js-slider-tracking.slick-initialized.slick-slider.slick-vertical {
    height: 407px!important;
    overflow: hidden;
}
  .rimage {
   
    height: 77px!important;
}
  .card {
    border: 0px;
    background-color: #F1F6FF;
    box-shadow: 0px 0px 0px rgba(190, 189, 189, 0.25);
    border-radius: 0px;
}
 @media(max-width:764px)
  {
    .product-gallery__main .product-gallery__blockratio {
    padding-top: 0%!important;
} 
    .breadcrumb {
    display: none;
}
    /* .container_np {
    width: 94%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
    .product-page .product-page-info__price.text-center.text-md-left.mb-25 span.prs {
    font-size: 22px!important;
}
  
    .product-page-info form>.product-page-info__price.text-center.text-md-left.mb-25:nth-child(5) {
    display: flex!Important;
    flex-wrap: wrap!important;
}
    .product-page .product-options.product-options--type-page.js-product-options #option-Size label>span:nth-child(2) {
    font-size: 12px!important;
    font-weight: 100!important;
}
    .product-page .product-options #option-Color label>span:nth-child(2) {
    font-weight: 100!important;
    font-size: 12px;
}
    div#option-Color {
    margin-bottom: 0px!important;
}
    .product-page .product-page-info__title.mb-15.text-center.text-md-left h1 {
    font-size: 18px;
}
    .product-page .product-page-info__title.mb-15.text-center.text-md-left {
    margin-bottom: 10px!important;
}
    .product-options__section.d-flex.flex-wrap {
    margin-bottom: 3%!important;
}
    .product-options__value.product-options__value--large-text.d-flex.flex-center.border.cursor-pointer {
   
    padding: 8px 20px!important;
}
  
    .upx {
    display: none;
}
    .btm_btn {
    display: none;
}
    .product-gallery__thumbnail_slider.h-100.js-slider-tracking.slick-initialized.slick-slider.slick-vertical {
    height: 450px!important;
    overflow: hidden;
}
  }
  .flash-sale-no-padding.section-width.section-padding {
    width: 100%;
    display: flex!important;
    justify-content: center!important;
}
 .product-options__value.product-options__value--large-text.d-flex.flex-center.border.cursor-pointer.active {
    border: 2px solid #BF9D7F!important;
} 
  .product-options__value.product-options__value--large-text.d-flex.flex-center.border.cursor-pointer {
    border-radius: 50px;
}
  @media(max-width:764px)
  {
    .product-description {
    margin-top: 40px;
}
    
}
  }
 div#looxReviews {
    margin: 0px!important;
    padding: 0px!important;
}
</style>
 {% include 'bread_crumb' %}
{% include 'global-variables' %}
{%- assign template_layout = settings.product_info_layout -%}
{%- if product.tags contains 'gallery-layout-1' -%}
    {%- assign template_layout = '1' -%}
{%- elsif product.tags contains 'gallery-layout-2' -%}
    {%- assign template_layout = '2' -%}
{%- elsif product.tags contains 'gallery-layout-3' -%}
    {%- assign template_layout = '3' -%}
{%- elsif product.tags contains 'gallery-layout-4' -%}
    {%- assign template_layout = '4' -%}
{%- elsif product.tags contains 'gallery-layout-5' -%}
    {%- assign template_layout = '5' -%}
{%- endif -%}
{%- if template contains 'quick-view' -%}
  	{%- assign is_quick_view = true -%}  
{%- endif -%}
{%- if is_quick_view -%}
	{% include 'product-res-variables' %}
  	{%- assign sidebar = 'off' -%}
  	{%- if settings.product_quick_view_layout != 'inherit' -%}
    	{%- assign template_layout = settings.product_quick_view_layout -%}
	{%- endif -%}
	{% include 'product-page-get-main_new' %}
{%- else -%}
	{%- assign sidebar = section.settings.sidebar -%}
	{%- if template_layout == '3' or template_layout == '4' -%}
		{%- assign enable_sticky_sidebar = true -%}
	{%- else -%}
		{%- assign enable_sticky_sidebar = section.settings.enable_sticky_sidebar -%}
	{%- endif -%}
  	{% capture container_class %}{% if sidebar != 'off' %} product-page__container--with-sidebar{% endif %}{% if sidebar == 'left' %} order-xl-1{% endif %}{% endcapture %}
  	{% capture sidebar_class %}{% if sidebar == 'left' %} product-page__sidebar--left pr-xl-30 mr-xl-30{% elsif sidebar == 'right' %} product-page__sidebar--right pl-xl-30 ml-xl-30{% endif %}{% endcapture %}
  	{% capture sidebar_html %}
      	{%- if sidebar != 'off' -%}
          	<div class="product-page__sidebar{{ sidebar_class }}{% if enable_sticky_sidebar %} sticky-sidebar-xl js-sticky-sidebar{% endif %}" data-js-sticky-sidebar-media-xl>
              	{%- if enable_sticky_sidebar -%}
                  	<div data-js-sticky-sidebar-body>
              	{%- endif -%}
					<div data-js-position-desktop="sidebar">
						{% include 'product-page-get-sidebar' %}
					</div>
              	{%- if enable_sticky_sidebar -%}
                	</div>
              	{%- endif -%}
         	 </div>
      	{%- endif -%}
  	{% endcapture %}
	{% include 'product-res-variables' %}
	{% include 'breadcrumbs' %}
	{% capture content_margins %}mt-{{ offset_product_page_content_margin_top_d }} pb-{{ offset_product_page_content_margin_bottom_d }}{% endcapture %}
	<div class="product-page {{ content_margins }} ">
		<div class="section-padding{% if sidebar != 'off' %} d-xl-flex{% endif %}">
			{%- if template_layout == '1' or template_layout == '5' -%}
				<div class="product-page__container{{ container_class }}">
					<div class="product-page__main">
						{% include 'product-page-get-main_new' %}
					</div>
					{%- if section.settings.show_tabs -%}
						<div class="product-page__tabs mt-30">
							{% include 'product-page-get-tabs' %}
						</div>
					{%- endif -%}
				</div>
				{{ sidebar_html }}
			{%- else -%}
				<div class="product-page__container{{ container_class }}">
					<div class="product-page__main">
						{% include 'product-page-get-main_new' %}
					</div>
				</div>
				{{ sidebar_html }}
			{%- endif -%}
		</div>
	</div>
 
	{%- if enable_sticky_sidebar -%}
		<script>
			theme.AssetsLoader.require('scripts', 'sticky_sidebar');
		</script>
	{%- endif -%}
	{%- if section.settings.tabs_type == 'tabs' -%}
		<script>
			theme.AssetsLoader.onUserAction(function() {
				theme.AssetsLoader.require('scripts', 'tabs');
			});
		</script>
	{%- endif -%}
  
	<script type="application/ld+json">
	{
	"@context": "http://schema.org/",
	"@type": "Product",
	"name": {{ product.title | json }},
	"url": {{ shop.url | append: product.url | json }},
	{%- if product.featured_media -%}
		{%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
		"image": [
		{{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
		],
	{%- endif -%}
	"description": {{ product.description | strip_html | json }},
	{%- if current_variant.sku != blank -%}
		"sku": {{ current_variant.sku | json }},
	{%- endif -%}
	"brand": {
		"@type": "Thing",
		"name": {{ product.vendor | json }}
	},
	"offers": [
		{%- for variant in product.variants -%}
			{%- if prices -%}
				{%- assign prices = prices -%}
				{%- if prices contains variant.price -%}
					{%- continue -%}
				{%- endif -%}
			,
			{%- endif -%}
			{
				"@type" : "Offer",
				{%- if variant.sku != blank -%}
				"sku": {{ variant.sku | json }},
				{%- endif -%}
				"availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
				"price" : {{ variant.price | divided_by: 100.00 | json }},
				"priceCurrency" : {{ cart.currency.iso_code | json }},
				"url" : {{ shop.url | append: variant.url | json }}
			}
			{% capture prices %}{{ prices }}{% if prices %}|{% endif %}{{ variant.price }}{% endcapture %}
		{%- endfor -%}
	]
	}
	</script>
{%- endif -%}

    <!-- CPC -->
    <!-- CPC -->
<!--     <script defer src="https://calcapi.printgrid.io/shopify/calculator.js"></script> -->

{% schema %}
{
  "name": "Product page",
  "settings": [
	{
		"type": "header",
		"content": "Sidebar"
	},
	{
		"type": "select",
		"id": "gallery_size",
		"label": "Gallery size",
		"default": "6",
		"options": [
			{
				"value": "4",
				"label": "4/12"
			},
			{
				"value": "5",
				"label": "5/12"
			},
			{
				"value": "6",
				"label": "6/12"
			},
			{
				"value": "7",
				"label": "7/12"
			},
			{
				"value": "8",
				"label": "8/12"
			}
		]
	},
	{
		"type": "select",
		"id": "sidebar",
		"label": "Sidebar position",
		"info": "Settings for the sidebar in the Product pages -> Sections -> 'Product page' section",
		"default": "off",
		"options": [
			{
				"value": "off",
				"label": "Off"
			},
			{
				"value": "left",
				"label": "Left"
			},
			{
				"value": "right",
				"label": "Right"
			}
		]
	},
	{
		"type": "checkbox",
		"id": "enable_sticky_sidebar",
		"label": "Enable sticky sidebar",
		"default": true
	},
    {
		"type": "header",
		"content": "Tabs"
    },
    {
		"type": "checkbox",
		"id": "show_tabs",
		"label": "Show tabs",
		"default": true
    },
	{
		"type": "checkbox",
		"id": "show_tab_description",
		"label": "Show tab for Description",
		"default": true
    },
	{
		"type": "checkbox",
		"id": "show_tab_reviews",
		"label": "Show tab for Reviews",
		"info": "Be sure you configure the reviews app at the Theme settings -> Reviews.",
		"default": true
    },
    {
        "type": "checkbox",
        "id": "scrolling_to_opened_tab",
        "label": "Scrolling to opened tab",
        "info": "Only for vertical tabs on desktop and on mobile tabs",
        "default": false
    },
    {
        "type": "select",
        "id": "tabs_type",
        "label": "Tabs type",
        "default": "tabs",
        "info": "In this section you can select one of the options: \"Default tabs\" or \"Sheet of tabs\". Once you select the option \"Sheet of tabs\" the Reviews and Description blocks will be displayed without a tab, but all other tabs will be hidden using this combination.",
        "options": [
            {
                "value": "tabs",
                "label": "Default tabs"
            },
            {
                "value": "sheet",
                "label": "Sheet of tabs"
            }
        ]
    },
    {
        "type": "paragraph",
        "content": "Click '+ Add block' to add tabs or content for sidebar"
    },
    {
        "type": "header",
        "content": "User manual"
    },
    {
        "type": "paragraph",
        "content": "[Product Page](https:\/\/mpthemes.net\/shella-shopify-theme\/documentation-version4\/doc03-01-product-section.php#product-page-section)"
    }
  ],
  "blocks": [
    {
      "type": "klarna_app",
      "name": "Klarna App content",
      "settings": [
        {
          "type": "paragraph",
          "content": "Klarna settings are located in Theme settings -> Apps & Language -> Klarna App"
        },
        {
          "type": "text",
          "id": "class_name",
          "label": "Class name",
          "default": "klarna-message-info"
        }
      ]
    },
    {
      "type": "tab_custom",
      "name": "Tab for Custom content",
      "settings": [
        {
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "Custom tab"
        },
		{
			"type": "richtext",
			"id": "content",
			"label": "HTML",
			"default": "<p>Text content of Tab goes here!</p><p>You can make&nbsp;text <strong>bold</strong>, <em>italic</em> or add <a href=\"\/blogs\/news\" title=\"News\">link</a> using rich text editor.</p><p></p>"
		},
		{
			"type": "paragraph",
			"content": "OR SELECT"
		},
        {
			"type": "page",
			"id": "page_content",
			"label": "Page content",
			"info": "Default page: 'Include Product Tab Custom HTML'"
        }
      ]
    },
    {
      "type": "tab_klarna_app",
      "name": "Tab for Klarna App",
      "settings": [
        {
          "type": "paragraph",
          "content": "Klarna settings are located in Theme settings -> Apps & Language -> Klarna App"
        },
        {
          "type": "text",
          "id": "class_name",
          "label": "Class name",
          "default": "klarna-message-tab"
        }
      ]
    },
    {
      "type": "sidebar_custom_html",
      "name": "Sidebar custom HTML",
      "settings": [
        {
          "type": "page",
          "id": "page_content",
          "label": "Page content",
          "info": "Default page: 'Include Product Sidebar Custom HTML'"
        }
      ]
    },
    {
      "type": "sidebar_products",
      "name": "Sidebar products",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "FEATURED PRODUCTS"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        },
        {
          "type": "range",
          "id": "max_count",
          "min": 0,
          "max": 10,
          "step": 1,
          "unit": "pds",
          "label": "Max count",
          "info": "0 is infinite",
          "default": 3
        },
        {
          "type": "select",
          "id": "product_type",
          "label": "Products type",
          "default": "short",
          "options": [
            {
              "value": "short",
              "label": "Short"
            },
            {
              "value": "full",
              "label": "Full"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
