<style>
    .custom-ship-info-wrap h5, .custom-ship-info-wrap h3, .custom-ship-info-wrap h2 {
    margin-bottom: 0;
    }
    .custom-desk-vid-wrap video
    {
    width: 100%;
    /* border-radius:0.5rem; */
       /* border-top-right-radius:0.5rem;
    border-top-left-radius:0.5rem; */
    
    }
    .custom-mob-vid-wrap video{
    width: 100%; 
      border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    }
    .custom-mob-vid-wrap {
    display: none;
    }
    .custom-ship-info-wrap h2 {
    font-family: var(--heading-font);
    }
    #custom-content-mid-section {
    display: flex;
    /* gap: 3%; */
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 17px;
    }
    .custom-ship-info-content-image {
    /* flex: 0 0 22%; */
    flex: 0 0 35%;
    max-width: 35%;
    }
    .custom-ship-info-content-heading {
    flex: 0 0 20%;
    }
    
    @media(max-width:768px) {
    .custom-mob-vid-wrap {
    display: block;
    margin: 0 1rem;
    }
    .custom-desk-vid-wrap {
    display: none;
    }
    }
    .custom-ship-info-content p {
    font-size: 14px;
    font-family: var(--sub-heading-font);
    color: #2c2c2c !important;
    }
    #custom-content-mid-section h5 {
    font-size: 16px;
    font-family: var(--heading-font);
    padding-left: 1rem;
    }
    .custom-ship-info-content-image .custom-image-wrap {
    padding-bottom: 100%;
    }
    .custom-image-wrap img{
    max-width: 3rem;
    /* padding-top: 3rem; */
    }
    .custom-ship-info-header {
    margin-top: 25px;
    margin-bottom: 14px;
    }
    .custom-ship-info-header h3 {
    margin-bottom: 5px;
    }
    
    .custom-ship-info-section-wrap {
    padding: 20px;
    background: #F2EFE4;
    }
    
     @media(min-width:1241px) {
       .custom-desk-vid-wrap video{     
         border-radius:0.5rem;
    }
    .custom-ship-info-section-image {
    display: none;
    }
    .custom-ship-info-section-wrap {
    background: url({{section.settings.image | image_url}});
    background-size: cover;
    }
    .custom-ship-info-header h2 {
    font-size: 27px !important;
    font-family: var(--content-font) !important;
    }
    .custom-ship-info-header h2 {
    font-size: 37px !important;
    font-family: var(--button-font) !important;
    font-weight:900;
      white-space:nowrap;
    }
    .custom-ship-info-header * {
    line-height: 118%;
    }
    .custom-ship-info-content * {
    line-height: 135%;
    }
    .custom-ship-info-section-desktop {
    /* padding-top: 68px; */
    padding-left: 45px;
    background: #F2EFE4;
    margin-left: 120px;
    width: 40%;
    padding-bottom: 11%;
    position: absolute;
    top: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem; 
    }
    .custom-ship-info-content p {
    font-size: 15px !important;
    font-family: var(--content-font);
    color: #2c2c2c !important;
    }
    .custom-ship-info-content-heading h5 {
    font-size: 18px;
    font-family: var(--heading-font);
    /* padding-top: 4rem ; */
    min-width:20rem;
    }

    .custom-ship-info-content-image {
    flex: 0 0 35%;
    max-width: 12%;
    }
    .custom-ship-info-content-image .custom-image-wrap {
    padding-bottom: 93%;
    flex: 0 0 9%;
    }
    
    .custom-vid-banner-section {
    position: relative;
    margin: 100px 4rem;
    }
    .custom-ship-info-header {
    /* margin-bottom: 50px; */
    }
    .custom-ship-info-content {
    /* width: 78%; */
    }
    #custom-content-mid-section {
    /* margin-top: 25%; */
    margin-bottom: -26%;
    /* gap: 13%; */
    }
    .custom-ship-info-content-heading {
    flex: 0 0 50%;
    max-width: 50%;
    }
    #custom-content-paragraph {
    width: 88%;
    padding-bottom:2rem;
    }
    }
     @media (min-width:991px) and (max-width:1240px) {
        .custom-vid-banner-section {
         margin: 0 4rem;
    }
   .custom-ship-info-section-desktop {
    /* padding-top: 68px; */
    padding-left: 45px;
    background: #F2EFE4;
    width:100%;
    padding-bottom:3%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    }
    .custom-ship-info-content-image .custom-image-wrap{
    padding-bottom: 57%;
    }
    .custom-ship-info-section-mobile{
    background: #F2EFE4;
    }
    .custom-ship-info-header{
    margin-top:0;
    padding-top:2rem;
    }
    .custom-vid-banner-section{
    margin-bottom:5rem;
    }
    .custom-ship-info-section-mobile{
    padding: 0 2rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    }
    .custom-ship-info-content-heading{
    font-weight:600;
    }
    #custom-content-mid-section h5 {
    padding-left:0;
    padding-bottom: 1rem;
    padding-top: 2rem;
    white-space: nowrap;
    }
    .custom-ship-info-content-image {
    max-width: 8%;
    }
     }
    @media (min-width:750px) and (max-width:989px) {
    .custom-ship-info-section-desktop {
    /* padding-top: 68px; */
    padding-left: 45px;
    background: #F2EFE4;
    width:100%;
    padding-bottom:3%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    }
    .custom-ship-info-content-image .custom-image-wrap{
    padding-bottom: 57%;
    }
    .custom-ship-info-section-mobile{
    background: #F2EFE4;
    }
    .custom-ship-info-header{
    margin-top:0;
    padding-top:2rem;
    }
    .custom-vid-banner-section{
    margin-bottom:5rem;
    }
    .custom-ship-info-section-mobile{
    padding: 0 2rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    }
    .custom-ship-info-content-heading{
    font-weight:600;
    }
    #custom-content-mid-section h5 {
    padding-left:0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    white-space: nowrap;
    }
    .custom-ship-info-content-image {
    max-width: 13%;
    }
    }
  
    @media (max-width: 749px){
    .custom-ship-info-section-mobile{
    background: #F2EFE4;
    }
    
    .custom-ship-info-header{
    margin-top:0;
    padding-top:2rem;
    }
    .custom-vid-banner-section{
    margin-bottom:4rem;
    }
    .custom-ship-info-section-mobile{
    padding: 0 2rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    }
    .custom-ship-info-content-heading{
    font-weight:600;
        padding-top: 2rem;
    }
    #custom-content-mid-section h5 {
    padding-left:0;
    padding-bottom: 1rem;
    padding-top: 1rem;
    }
    .custom-image-wrap img{
    padding-top: 3rem;
    max-width:39px;
    }
    
    .custom-ship-info-content-heading {
    min-width:15rem;
    }
    .custom-ship-info-content-image{
    max-width: 18%;
    }
    .custom-image-wrap img {
    padding-top:1rem;
    }
    .custom-ship-info-header h2{
    font-weight:900;
    }
    }
</style>

<div class="custom-vid-banner-section">
  <div class="custom-desk-vid-wrap"> 
    {{ section.settings.desk_video | video_tag: image_size: '1100x', autoplay: true, loop: true, controls: false, muted: true }}
    <div class="custom-ship-info-section-desktop">
      <div class="custom-ship-info-header">
        <h2>{{ section.settings.heading }}</h2>
        <h2>{{ section.settings['sub-heading'] }}</h2>
      </div>
      <div class="custom-ship-info-content">
        <p id="custom-content-paragraph">{{ section.settings['content-1'] }}</p>
        <div id="custom-content-mid-section">
          <div class="custom-ship-info-content-image">
            {% assign image = section.settings['in-content-image'] %}
            {% if image != blank %}
              <div class="custom-image-wrap" style="position:relative;">
                <img
                  style="position:absolute;top:0px;left:0px;"
                  srcset="
                    {%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 350w,{%- endif -%}
                    {%- if image.width >= 750 -%}{{ image | image_url: width: 375 }} 450w,{%- endif -%}
                    {%- if image.width >= 1100 -%}{{ image | image_url: width: 400 }} 470w,{%- endif -%}
                    {%- if image.width >= 1500 -%}{{ image | image_url: width: 425 }} 490w,{%- endif -%}
                    {%- if image.width >= 1780 -%}{{ image | image_url: width: 450 }} 500w,{%- endif -%}
                    {%- if image.width >= 2000 -%}{{ image | image_url: width: 500 }} 500w,{%- endif -%}
                    {%- if image.width >= 3000 -%}{{ image | image_url: width: 500 }} 500w,{%- endif -%}
                    {%- if image.width >= 3840 -%}{{ image | image_url: width: 500 }} 500w,{%- endif -%}
                  "
                  src="{{ image | image_url: width: 400 }}"
                  sizes="(min-width: 768px) calc((100vw) / 2), (max-width: 768px) calc((100vw))"
                  loading="lazy"
                  alt="{{ image.alt | escape }}"
                  width="{{ image.width }}"
                  height="auto"
                >
              </div>
            {% endif %}
          </div>
          <div class="custom-ship-info-content-heading">
            <h5>{{ section.settings['in-content-heading'] }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-mob-vid-wrap">
    {{ section.settings.mob_video | video_tag: image_size: '1100x', autoplay: true, loop: true, controls: false, muted: true }}
    <div class="custom-ship-info-section-mobile">
      <div class="custom-ship-info-header">
        <h2>{{ section.settings.heading }}</h2>
        <h2>{{ section.settings['sub-heading'] }}</h2>
      </div>
      <div class="custom-ship-info-content">
        <p id="custom-content-paragraph">{{ section.settings['content-1'] }}</p>
        <div id="custom-content-mid-section">
          <div class="custom-ship-info-content-image">
            {% assign image = section.settings['in-content-image'] %}
            {% if image != blank %}
              <div class="custom-image-wrap" style="position:relative;">
                <img
                  style="position:absolute;top:0px;left:0px;"
                  srcset="
                    {%- if image.width >= 375 -%}{{ image | image_url: width: 375 }} 350w,{%- endif -%}
                    {%- if image.width >= 750 -%}{{ image | image_url: width: 375 }} 450w,{%- endif -%}
                    {%- if image.width >= 1100 -%}{{ image | image_url: width: 400 }} 470w,{%- endif -%}
                    {%- if image.width >= 1500 -%}{{ image | image_url: width: 425 }} 490w,{%- endif -%}
                    {%- if image.width >= 1780 -%}{{ image | image_url: width: 450 }} 500w,{%- endif -%}
                    {%- if image.width >= 2000 -%}{{ image | image_url: width: 500 }} 500w,{%- endif -%}
                    {%- if image.width >= 3000 -%}{{ image | image_url: width: 500 }} 500w,{%- endif -%}
                    {%- if image.width >= 3840 -%}{{ image | image_url: width: 500 }} 500w,{%- endif -%}
                  "
                  src="{{ image | image_url: width: 400 }}"
                  sizes="(min-width: 768px) calc((100vw) / 2), (max-width: 768px) calc((100vw))"
                  loading="lazy"
                  alt="{{ image.alt | escape }}"
                  width="{{ image.width }}"
                  height="auto"
                >
              </div>
            {% endif %}
          </div>
          <div class="custom-ship-info-content-heading">
            <h5>{{ section.settings['in-content-heading'] }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "customShip-info-section",
    "settings": [
      {
        "type": "video",
        "id": "desk_video",
        "label": "Desktop Video"
      },
      {
        "type": "video",
        "id": "mob_video",
        "label": "Mobile Video"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "sub-heading",
        "label": "Sub Heading"
      },
      {
        "type": "text",
        "id": "content-1",
        "label": "Content Paragraph-1"
      },
      {
        "type": "image_picker",
        "id": "in-content-image",
        "label": "Content Image"
      },
      {
        "type": "text",
        "id": "in-content-heading",
        "label": "In Content Heading"
      }
    ],
    "presets": [
      {
        "name": "customShip-info-section"
      }
    ]
  }
{% endschema %}
