<style>
  .flash-sale-no-padding{
      background: #202020;

  }
   .flash-sale-section-wrap .button-wrapper a h4{
     margin-bottom: 0 !important;
   }
  .flash-sale-section-wrap{
      position: relative;
  }
  .flash-sale-section-wrap .img{
    width: 100%;
    height: 100%;
  }

  .flash-sale-section-wrap .flash-sale-cards-wrapper{
    gap: 20px!important;
  }

  .flash-sale-section-wrap .section-head{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 7%;

  }
   .flash-sale-section-wrap .section-head-left{
        flex: 0 0 100%;
        margin-bottom: 2%;
   }
   .flash-sale-section-wrap .section-head-left span *{
        font-family: var(--button-font);
   }
   .flash-sale-section-wrap .section-head-left span{
        font-size: 22px;
         display: flex !important;
     align-items: center;

   }
   .flash-sale-section-wrap .section-head-right{
        flex: 0 0 20%;
   }
  .flash-sale-section-wrap *{
        color: #fff !important;
  }
  .flash-sale-section-wrap .button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
        padding-bottom: 4%;
        margin-top: 4%;

  }
  .flash-sale-section-wrap .button-wrapper a{
    padding: 15px 22px;
    border-radius: 30px;
    background: #FFCC48;


  }
  .flash-sale-section-wrap .button-wrapper a h4{
     color: #333 !important;
        font-size: 16px !important;
        font-family: var(--button-font) !important;
    width: max-content;


  }
  .flash-sale-section-wrap .flash-sale-sub-heading{
     display: flex;
  }
  .flash-sale-section-wrap .section-head-left span{
        font-size: 22px;
   }
  .flash-sale-section-wrap .sub-heading-1{
     color: #FFCC48 !important;
  }
    .flash-sale-section-wrap .flash-sale-main-heading{
        line-height: 145%;
        display: inline;
    }
    .flash-sale-section-wrap .flash-sale-sub-heading{
        line-height: 100%:
    }

    .flash-sale-section-wrap .card{
        background: #fff;
        padding: 7%;

    }
    .flash-sale-section-wrap .card *{
        color: #2c2c2c !important;
        font-family: var(--button-font);
    }
    .flash-sale-section-wrap .card *{
      font-size: 14px !important;
      font-family: var(--sub-heading-font);
    }

    .flash-sale-section-wrap .card h5{
      font-size: 16.5px !important;
      font-family: var(--button-font);    }

    .flash-sale-section-wrap .flash-sale-cards-wrapper{

        overflow-x: scroll;
    }
  .flash-sale-cards-wrapper::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
  }

    .custom-card-price{
      padding: 6px 10px;

    }

     .card{
      position: relative;
    }
    .product-discount{
      position: absolute;
      top: 6%;
      right: 8%;
      padding: 3px 7px;
      background: #2c2c2c;
      border-radius: 90px;

    }
    .flash-sale-section-wrap .product-discount{
      top: 3%;
      right: 4%;

    }
    .flash-sale-section-wrap .product-discount p{
      color: #fff !important;
    }
    .price-wrap{

      border: 1px solid #2c2c2c;
      border-radius: 90px;
      align-items: center;

    }

    .custom-card-price{
      border: none !important;
    }

      .flash-sale-section-wrap {
      margin-left: 0;

    }
     .price-wrap{
      gap: 0 !important;
      margin-left: auto !important;
      justify-content: space-between !important;
       max-width: 70%;
    }
    .price-wrap .compare-price{
      padding-right: 6px;
    }
  .card-info .card-price img{
    width: 33%;
  }
   .flash-sale-section-wrap .product-card{
       /* flex: 0 0 22%;
      max-width: 22%; */
     flex: 0 0 calc(100%/4 - 20px*3/4);
      max-width: calc(100%/4 - 20px*3/4);
    }


  @media(max-width: 786px){
    .flash-sale-section-wrap .flash-sale-sub-heading h2{
        font-size: 18px !important;
    }
    .flash-sale-section-wrap .button-wrapper h4{
      font-size: 16px !important;
    }
    .flash-sale-section-wrap .button-wrapper{
      padding-bottom: 8%;
      margin-top: 8%;

    }
   .flash-sale-section-wrap .button-wrapper a{
    padding: 4% 7%;
    border-radius: 30px;



  }

     .flash-sale-section-wrap .section-head-left{
       flex: 0 0 100%;
     }
       .flash-sale-section-wrap .section-head-right{
       flex: 0 0 0%;
       max-width: 0%;
        padding-bottom: 1%;
     }
    .flash-sale-section-wrap .section-head{
      align-items: flex-end;
      margin-top: var(--section-margin-bottom-mobile);
    }
    .flash-sale-section-wrap .flash-sale-cards-wrapper{
      transform: scale(1);
      margin: 5% 0;
    }
    .flash-sale-section-wrap .product-card{
       flex: 0 0 64%;
      max-width: 64%;
    }

    .custom-card-price{
      padding: 2% 6%;
    }
   .card h5{
      font-size: 12.5px !important;
      font-family: var(--button-font);    }

    .flash-sale-section-wrap .price-wrap *{
      font-size: 12px !important;
    }
     .flash-sale-section-wrap .price-wrap{

     }

    .flash-sale-section-wrap .card-info h5{
      font-size:12.5px !important;
    }
    .flash-sale-section-wrap .section-head-left span{
        font-size: 13px !important;
   }

    }
</style>

<div class="flash-sale-no-padding section-width {% unless section.settings.section_width == 'full-width' %}section-padding{% endunless %}">
  <div class="section-content section-wrap flash-sale-section-wrap">
    <div class="section-head">
      <div class="section-head-left">
        <span class="title_box">
          <h1 style="margin-right: 10px;" class="flash-sale-main-heading">{{ section.settings.heading }}</h1>
          <span>{{ section.settings['sub-heading-1'] }}</span></span
        >
        <div class="flash-sale-sub-heading">
          <h2 class="sub-heading-1">
            <span>{{ section.settings['sub-heading-2'] }}</span>
          </h2>
        </div>
      </div>
      <div class="section-head-right">
        {% assign start_date = section.settings['sale-start'] %}
        {% assign end_date = section.settings['sale-end'] %}
      </div>
    </div>

    <div class="flash-sale-cards-wrapper category-block-cards-wrapper">
      {% if section.settings.collection.products.size > 0 %}
        {% for product in section.settings.collection.products limit: 4 %}
          {% render 'product-card_new', product: product %}
        {% endfor %}
      {% else %}
        {% for i in (1..4) %}
          {% render 'product-card-placeholder_new' %}
        {% endfor %}
      {% endif %}
    </div>

    <div class="button-wrapper">
      <a href="{{ section.settings.button-link }}">
        <h4>{{ section.settings['button-text'] }}</h4>
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "flash-sale",
  "tag": "section",
  "class": "flash-sale",
  "settings": [
        {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "text",
          "id": "sub-heading-1",
          "label": "Sub Heading-1"
        },
        {
          "type": "text",
          "id": "sub-heading-2",
          "label": "Sub Heading-2"
        },
        {
          "type": "text",
          "id": "button-text",
          "label": "Button Text"
        },
        {
          "type": "text",
          "id": "button-link",
          "label": "Button Link"
        },
        {
          "type": "text",
          "id": "sale-start",
          "label": "Sale Start Timing",
          "info":" Format: August 19, 2023 20:30:00"
        },
        {
          "type": "text",
          "id": "sale-end",
          "label": "Sale End Timing",
          "info":" Format: August 19, 2023 20:30:00"
        },


        {
          "type": "collection",
          "label": "choose collection",
          "id": "collection"
        }
  	],

    "presets": [
    {
      "name": "flash-sale"
    }
  ]
}
{% endschema %}
